* {
    margin: 0;
    padding: 0;
}


.main {
    background: url(../img/hero\ image.png) no-repeat center center/cover;
    .container {
        padding: 0 165px;
        padding-top: 50px;
        .main__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header__logo {
    
            }
            .header__nav {
                display: flex;
                align-items: center;
                .nav__menu {
                    display: flex;
                    align-items: center;
                    height: 30px;

                    .menu__list {
                        list-style: none;
                        display: flex;  
                        .nav__item {
                            margin: 0 26px;
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .manu__border {
                        border-left: 2px solid white;
                        height: 30px;


                    }
                    

    
                }
                .header__contact {
                    margin: 0 26px;
                    display: flex;
                    align-items: center;
                    .contacts__block {
                        .contact__phone {
                            display: flex;
                            a {
                                color: #FFF; 
                                font-family: Open Sans;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }

                        }
                        .contact__text {
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                    .header__button {
                        margin-left: 26px;
                        color: #FFF;
                        font-family: Open Sans;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        padding: 15px 30px;
                        background: #FF7400;
                    }
                }
            }
        }
        .main__content {
            display: flex;
            .content__text {
                display: flex;
                align-items: center;
                flex-direction: column;
                
                margin-bottom: 124px;
                margin-top: 200px;
                .content__title {
                    color: #D67E35;
                    font-family: Tinos;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .content__title_welcome {

                    font-size: 50px;

                }
                .content__subtitle {
                    color: #FFF;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0 100px;
                    margin-top: 25px;
                    position: relative;

                }
                .content__subtitle::after {
                    content:" ";
                    display: block;
                    height: 2px;
                    width: 70px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    background: white;
                    margin-left: calc(100% + 20px);         
                }
                .content__subtitle::before {
                    content:" ";
                    display: block;
                    height: 2px;
                    width: 70px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    background: white;
                    margin-right: calc(100% + 20px);            
                }
                .content__button {

                }
            }

        }
    }
}  